$small-device: 767px;
@mixin small-device {
    @media (max-width: #{$small-device}) {
        @content;
    }
}
$sim-device: 1023px;
@mixin sim-device {
    @media (max-width: #{$sim-device}) {
        @content;
    }
}
$large-device: 1024px;
@mixin medium-device {
    @media (min-width: #{$medium-device}) and (max-width: #{$large-device}) {
        @content;
    }
}
@mixin large-device {
    @media (min-width: #{$large-device}) {
        @content;
    }
}
@font-face {
    font-family: "Poirot";
    src: url(../fonts/PoiretOne-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
$zlatna: #ff9700;
$zlatna2: rgba(255, 151, 0, 0.3);
// GENERAL
@import "mixin";
body,
html {
    font-family: "OpenSans";
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poiret One";
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
h2 {
    margin-bottom: 100px;
    @include small-device {
        margin-bottom: 50px;
    }
}
p {
    z-index: 1;
    text-align: justify;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
}
div,
.container {
    position: relative;
}
nav {
    text-transform: uppercase;
    background-color: rgba(3, 3, 3, 0.9);
    border-bottom: 1px solid $zlatna;
    .nav-links {
        margin-left: auto;
        display: flex;
        vertical-align: middle;
        border-top: none;
        border-radius: 0 0 6px 6px;
        @include small-device {
            background-color: rgba(3, 3, 3, 0.9);
            transition: 1.3s ease-in-out;
            transform: translate(150px, 0);
            -moz-transform: translate(150px, 0);
            -webkit-transform: translate(150px, 0);
            -o-transform: translate(150px, 0);
            -ms-transform: translate(150px, 0);
            position: absolute;
            top: 0;
            right: 0;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            padding: 15px 0;
            border-radius: 0 0 0 8px;
            flex-direction: column;
        }
        .link-h {
            background: transparent;
            justify-content: center;
            margin: 0 2px;
            padding-bottom: 5px;
            color: $zlatna;
            width: 100%;
            min-width: 90px;
            display: flex;
            font-weight: bolder;
            &:hover {
                color: white;
            }
        }
    }
    a {
        transition: 0.25s ease;
        display: flex;
        width: fit-content;
    }
    img {
        height: 48px;
        margin: auto;
        margin: 3px 0;
    }
}
#navbar {
    transition: 1.3s ease-in-out;
    transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
}
.show {
    transition: 1.3s ease-in-out;
    transform: translate(0) !important;
    -moz-transform: translate(0) !important;
    -webkit-transform: translate(0) !important;
    -o-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
}
.hide {
    transition: 1.3s ease-in-out;
    transform: translate(0, -50px) !important;
    -moz-transform: translate(0, -50px) !important;
    -webkit-transform: translate(0, -50px) !important;
    -o-transform: translate(0, -50px) !important;
    -ms-transform: translate(0, -50px) !important;
}
.toggler {
    transition: 1.3s ease-in-out;
    transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    padding: 5px;
    margin: 4px 8px 0 auto;
    @include small-device {
        padding: 2px 5px;
        margin: 4px 4px 4px auto;
    }
    @include large-device {
        display: none;
    }

    .tog-line {
        margin: 3px 0;
        height: 3px;
        width: 34px;
        background-color: $zlatna;
    }
}
.active {
    transition: 1.3s ease-in-out;
    transform: translate(0) !important;
    -moz-transform: translate(0) !important;
    -webkit-transform: translate(0) !important;
    -o-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
}

.hero-sec {
    position: relative;
    background: url(../img/book3.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.514);
    height: 100vh;
    display: flex;
    @include medium-device {
        height: 60vh;
    }
}

#hero {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: fit-content;
    color: white;
    @include small-device {
        background-size: cover;
        h1 {
            font-size: 1.4rem;
        }
    }
    h1 {
        z-index: 3;
        font-size: 2.1rem;
        font-weight: bold;
        span {
            display: none;
        }
    }
    p {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-family: "Poirot";
        text-align: center;
        margin: 30px 10px 50px 10px;
    }
    a {
        width: fit-content;
        position: relative;
        border: 2px solid rgba(255, 255, 255, 0.8);
    }
    img {
        transition: opacity 3s ease;
        opacity: 1;
        height: 400px;
        margin: auto;
        @include small-device {
            height: 200px;
        }
        @include medium-device {
            height: 300px;
        }
    }
    #naslov {
        display: flex;
        flex-direction: column;
        opacity: 0;
    }

    div.d-flex {
        align-items: center;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 3rem;
        height: 20px;
        width: fit-content;
        a {
            margin: auto;
        }
        img {
            transition: opacity 1.5s ease;
            margin: auto;
            display: block;
            opacity: 0;
            margin-top: 20px;
            height: 35px !important;
        }
        &:hover {
            a {
                background: $zlatna2;
            }
            img {
                opacity: 1;
            }
        }
    }
}
.text {
    padding-left: 50px;
    padding-right: 10px;
    font-size: 18px;
    @include small-device {
        font-size: 16px;
        padding: 0;
        margin-top: 30px;
    }
}
#oblast,
#about {
    padding: 150px 0 150px 0;
    background: whitesmoke;
    @include small-device {
        padding: 80px 0;
    }
    h2,
    img,
    .row {
        opacity: 0;
    }
    img {
        width: 100%;
    }
}
#services {
    padding: 100px 0;
    @include small-device {
        padding: 50px 0;
    }
    select {
        border: 1px solid $zlatna;
        padding: 5px;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.795);
        color: white;
        border-radius: 0;
        &:focus-visible,
        &:focus,
        &:active {
            outline: none;
            border-radius: 0;
        }
        @include large-device {
            display: none;
        }
        option {
            &:checked,
            &:hover,
            &:focus,
            &:active {
                border: none;
                outline: none;
                background: $zlatna;
                color: black;
            }
        }
    }
    ul {
        height: 100%;
        display: flex;
        width: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        cursor: pointer;
        @include sim-device {
            display: none;
        }
        li {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            padding: 2px 10px;
            margin: 3px 0;
            &:hover {
                box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.473);
                background: rgba(0, 0, 0, 0.8555);
                color: white;
            }
            @include sim-device {
                font-size: 14px;
            }
        }
    }
    p {
        z-index: 1;
        @include sim-device {
            font-size: 14px;
        }
        @include small-device {
            margin-left: 1px;
            margin-right: 1px;
        }
    }
    .wrapper-service {
        width: 100%;
        height: 100%;
        background: url(../img/services2.jpg);
        background-blend-mode: color;
        background-position: center;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.94);
        h3 {
            font-family: "OpenSans";
            font-weight: bold;
        }
        @include small-device {
            min-height: 370px;
        }
    }

    .srvtxt {
        display: none;
        flex-direction: column;
        height: max-content;
        min-height: 100%;
        padding: 30px;
        text-align: justify;
        @include small-device {
            padding: 5px;
        }
        @include sim-device {
            padding: 14px;
        }
        h3 {
            margin-bottom: 15px;
        }
        a {
            margin: auto;
            border: 1px solid $zlatna;
            border-radius: 2px;
            padding: 5px 20px;
            &:hover {
                background-color: #ff99003b;
            }
        }
    }
    #saveti {
        display: flex;
    }
}

div.col-12.col-md-6.d-flex::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -50%;
    content: "";
    z-index: 0;
    background: rgba(252, 171, 66, 0.38);
    @include small-device {
        display: none;
    }
}

#contact {
    color: black;
    margin-top: 100px;
    position: relative;
    @include small-device {
        margin-top: 80px;
    }
    .contact-h {
        margin-top: 50px;
        padding: 50px 10px;
        color: white;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.9);
    }
    h6 {
        text-transform: uppercase;
        font-family: "Raleway";
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .kont-h {
        color: $zlatna;
        display: flex;
        margin-bottom: 20px;
        i {
            min-width: 52px;
            margin-right: 20px;
            font-size: 40px;
        }
    }
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
            color: black;
        }
    }
    form {
        input,
        textarea,
        button {
            border: 1px solid $zlatna;
            display: block;
            padding: 10px 15px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            background: rgba(3, 3, 3, 0.93);
            font-size: 12pt;
            margin-bottom: 5px;
            color: white;
        }
        button {
            width: 25%;
            align-self: flex-end;
            margin: auto;
            @include small-device {
                width: 32%;
            }
        }
    }
}
footer {
    border-top: 1px solid $zlatna;
    font-size: 12px;
    color: $zlatna;
    background: rgba(3, 3, 3, 0.9);
    @include small-device {
    }
    a img {
        margin: auto;
        height: 40px;
    }
}

@keyframes anima-left {
    0% {
        transform: rotate(0) translateX(-90px);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

.anima-left {
    animation: anima-left 2s forwards 0s linear;
}

@keyframes anima-up-down {
    0% {
        transform: rotate(0) translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

.anima-up-down {
    animation: anima-up-down 1s forwards 0s linear;
}
@keyframes small-in {
    0% {
        transform: scale(0.1);
        opacity: 0.3;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

.small-in {
    animation: small-in 2s forwards 0s ease;
}

@keyframes anima-hero {
    0% {
        transform: scale(0.2) skewX(-9deg);
        transform-origin: 70% -50%;
        opacity: 0.1;
    }
    100% {
    }
}

.anima-hero {
    animation: anima-hero 3s forwards 0s linear;
}
