@font-face {
  font-family: "Poiret";
  src: url(../fonts/PoiretOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
body,
html {
  font-family: "OpenSans";
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
body *,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poiret";
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

h2 {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  h2 {
    margin-bottom: 50px;
  }
}

p {
  z-index: 1;
  text-align: justify;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

div,
.container {
  position: relative;
}

nav {
  text-transform: uppercase;
  background-color: rgba(3, 3, 3, 0.9);
  border-bottom: 1px solid #ff9700;
}
nav .nav-links {
  margin-left: auto;
  display: flex;
  vertical-align: middle;
  border-top: none;
  border-radius: 0 0 6px 6px;
}
@media (max-width: 767px) {
  nav .nav-links {
    background-color: rgba(3, 3, 3, 0.9);
    transition: 1.3s ease-in-out;
    transform: translate(150px, 0);
    -moz-transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 0;
    border-radius: 0 0 0 8px;
    flex-direction: column;
  }
}
nav .nav-links .link-h {
  background: transparent;
  justify-content: center;
  margin: 0 2px;
  padding-bottom: 5px;
  color: #ff9700;
  width: 100%;
  min-width: 90px;
  display: flex;
  font-weight: bolder;
}
nav .nav-links .link-h:hover {
  color: white;
}
nav a {
  transition: 0.25s ease;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
nav img {
  height: 48px;
  margin: auto;
  margin: 3px 0;
}

#navbar {
  transition: 1.3s ease-in-out;
  transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
}

.show {
  transition: 1.3s ease-in-out;
  transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  -webkit-transform: translate(0) !important;
  -o-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
}

.hide {
  transition: 1.3s ease-in-out;
  transform: translate(0, -50px) !important;
  -moz-transform: translate(0, -50px) !important;
  -webkit-transform: translate(0, -50px) !important;
  -o-transform: translate(0, -50px) !important;
  -ms-transform: translate(0, -50px) !important;
}

.toggler {
  transition: 1.3s ease-in-out;
  transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  -o-transform: translate(0);
  -ms-transform: translate(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  padding: 5px;
  margin: 4px 8px 0 auto;
}
@media (max-width: 767px) {
  .toggler {
    padding: 2px 5px;
    margin: 4px 4px 4px auto;
  }
}
@media (min-width: 1024px) {
  .toggler {
    display: none;
  }
}
.toggler .tog-line {
  margin: 3px 0;
  height: 3px;
  width: 34px;
  background-color: #ff9700;
}

.active {
  transition: 1.3s ease-in-out;
  transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  -webkit-transform: translate(0) !important;
  -o-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
}

.hero-sec {
  position: relative;
  background: url(../img/book3.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.514);
  height: 100vh;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-sec {
    height: 60vh;
  }
}

#hero {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}
@media (max-width: 767px) {
  #hero {
    background-size: cover;
  }
  #hero h1 {
    font-size: 1.4rem;
  }
}
#hero h1 {
  z-index: 3;
  font-size: 2.1rem;
  font-weight: bold;
}
#hero h1 span {
  display: none;
}
#hero p {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Poiret";
  text-align: center;
  margin: 30px 10px 50px 10px;
}
#hero a {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
#hero img {
  transition: opacity 3s ease;
  opacity: 1;
  height: 400px;
  margin: auto;
}
@media (max-width: 767px) {
  #hero img {
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #hero img {
    height: 300px;
  }
}
#hero #naslov {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
#hero div.d-flex {
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 3rem;
  height: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
#hero div.d-flex a {
  border-radius: 0;
  margin: auto;
}
#hero div.d-flex img {
  transition: opacity 1.5s ease;
  margin: auto;
  display: block;
  opacity: 0;
  margin-top: 20px;
  height: 35px !important;
}
#hero div.d-flex:hover a {
  background: rgba(255, 151, 0, 0.3);
}
#hero div.d-flex:hover img {
  opacity: 1;
}

.text {
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  background-color: whitesmoke;
}
@media (max-width: 767px) {
  .text {
    font-size: 16px;
    padding: 0;
    margin-top: 30px;
  }
}

#oblast,
#about {
  padding: 150px 0 150px 0;
  background: whitesmoke;
}
@media (max-width: 767px) {
  #oblast,
  #about {
    padding: 80px 0;
  }
}
#oblast h2,
#oblast img,
#oblast .row,
#about h2,
#about img,
#about .row {
  opacity: 0;
}
#oblast img,
#about img {
  width: 100%;
}

#services {
  padding: 100px 0;
}
@media (max-width: 767px) {
  #services {
    padding: 50px 0;
  }
}
#services select {
  border: 1px solid #ff9700;
  padding: 5px;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.795);
  color: white;
  border-radius: 0;
}
#services select:focus-visible, #services select:focus, #services select:active {
  outline: none;
  border-radius: 0;
}
@media (min-width: 1024px) {
  #services select {
    display: none;
  }
}
#services select option:checked, #services select option:hover, #services select option:focus, #services select option:active {
  border: none;
  outline: none;
  background: #ff9700;
  color: black;
}
#services ul {
  height: 100%;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
@media (max-width: 1023px) {
  #services ul {
    display: none;
  }
}
#services ul li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  padding: 2px 10px;
  margin: 3px 0;
}
#services ul li:hover {
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.473);
  background: rgba(0, 0, 0, 0.8555);
  color: white;
}
@media (max-width: 1023px) {
  #services ul li {
    font-size: 14px;
  }
}
#services p {
  z-index: 1;
}
@media (max-width: 1023px) {
  #services p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  #services p {
    margin-left: 1px;
    margin-right: 1px;
  }
}
#services .wrapper-service {
  width: 100%;
  height: 100%;
  background: url(../img/services2.jpg);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.94);
}
#services .wrapper-service h3 {
  font-family: "OpenSans";
  font-weight: bold;
}
@media (max-width: 767px) {
  #services .wrapper-service {
    min-height: 370px;
  }
}
#services .srvtxt {
  display: none;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  min-height: 100%;
  padding: 30px;
  text-align: justify;
}
@media (max-width: 767px) {
  #services .srvtxt {
    padding: 5px;
  }
}
@media (max-width: 1023px) {
  #services .srvtxt {
    padding: 14px;
  }
}
#services .srvtxt h3 {
  margin-bottom: 15px;
}
#services .srvtxt a {
  margin: auto;
  border: 1px solid #ff9700;
  border-radius: 2px;
  padding: 5px 20px;
}
#services .srvtxt a:hover {
  background-color: rgba(255, 153, 0, 0.231372549);
}
#services #saveti {
  display: flex;
}

.img-h::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 20px 20px whitesmoke, -20px -20px whitesmoke;
  content: "";
  z-index: 0;
  background: rgba(252, 171, 66, 0.38);
}
@media (max-width: 767px) {
  .img-h::after {
    display: none;
  }
}

.txt-h::before {
  position: absolute;
  width: 110%;
  height: 100%;
  rotate: 90deg;
  top: -15%;
  left: -50%;
  content: "";
  z-index: -1;
  border: 2px solid #000;
}
@media (max-width: 767px) {
  .txt-h::before {
    display: none;
  }
}

#contact {
  color: black;
  margin-top: 100px;
  position: relative;
}
@media (max-width: 767px) {
  #contact {
    margin-top: 80px;
  }
}
#contact .contact-h {
  margin-top: 50px;
  padding: 50px 10px;
  color: white;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.9);
}
#contact h6 {
  text-transform: uppercase;
  font-family: "Raleway";
  margin-bottom: 0;
}
#contact p {
  font-size: 20px;
  margin-bottom: 30px;
}
#contact .kont-h {
  color: #ff9700;
  display: flex;
  margin-bottom: 20px;
}
#contact .kont-h i {
  min-width: 52px;
  margin-right: 20px;
  font-size: 40px;
}
#contact a {
  color: inherit;
}
#contact a:hover {
  text-decoration: none;
  color: black;
}
#contact form input,
#contact form textarea,
#contact form button {
  border: 1px solid #ff9700;
  display: block;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background: rgba(3, 3, 3, 0.93);
  font-size: 12pt;
  margin-bottom: 5px;
  color: white;
}
#contact form button {
  width: 25%;
  align-self: flex-end;
  margin: auto;
}
@media (max-width: 767px) {
  #contact form button {
    width: 32%;
  }
}

footer {
  border-top: 1px solid #ff9700;
  font-size: 12px;
  color: #ff9700;
  background: rgba(3, 3, 3, 0.9);
}
footer a img {
  margin: auto;
  height: 40px;
}
@keyframes anima-left {
  0% {
    transform: rotate(0) translateX(-90px);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.anima-left {
  animation: anima-left 2s forwards 0s linear;
}
@keyframes anima-up-down {
  0% {
    transform: rotate(0) translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.anima-up-down {
  animation: anima-up-down 1s forwards 0s linear;
}
@keyframes small-in {
  0% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.small-in {
  animation: small-in 2s forwards 0s ease;
}
@keyframes anima-hero {
  0% {
    transform: scale(0.2) skewX(-9deg);
    transform-origin: 70% -50%;
    opacity: 0.1;
  }
}
.anima-hero {
  animation: anima-hero 3s forwards 0s linear;
}/*# sourceMappingURL=style.css.map */